<footer class="footer-area footer--light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright-text">
                    <p>© 2019
                        <a href="#">Recipe</a>. All rights reserved. Created by
                        <a href="#">Azhar</a>
                    </p>
                </div>

                <div class="go_top">
                    <span class="icon-arrow-up"></span>
                </div>
            </div>
        </div>
    </div>

</footer>